
/* VARIABLES GLOBALES */

:root {
    /* COULEURS */
    --color-black: #000;
    --color-white: #fff;
    --color-gray: #6b6b6b;
    --color-gray-light: #f5f5f5;

    /* FONT */
    --font-main: 'Inter', sans-serif;

    /* TAILLES D'ECRITURE */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 2rem;
  --text-xxl: 2.5rem;

  /* ESPACEMENT */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 4rem;
  --space-xl: 6rem;

  /* BORDURES */
  --radius-sm: 4px;
  --radius-md: 8px;
}


